body {
    color: #444;
}

h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    margin-bottom: 36px;
}

p, li {
    font-size: 20px;
    line-height: 30px;
}

code {
    background: #eee;
    padding: 2px 6px;
    border: 1px solid #ccc;
    position: relative;
    bottom: 2px;
    border-radius: 6px;
}

.logo {
    text-align: center;
    margin-bottom: 48px;
}

.grafico {
    text-align: center;
}

.mb {
    margin-bottom: 64px;
}
